.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 700;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
}

.modal-form__submit {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.modal-form__submit:disabled {
  opacity: 0.5;
  cursor: default;
}
