.modal__label {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 24px;
}

.modal__input {
  width: 100%;
  margin-top: 8px;
  padding: 4px 0;
  height: 24px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  font-size: 16px;
}

.modal__input::placeholder {
  color: #b3b3b3;
}

.modal__radio-button {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  padding: 0;
  border: none;
}

.modal__legend {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 8px;
}

.modal__radio-input {
  width: 20px;
  height: 20px;
}
